
body{
    background-image: url('./images/sparklybanner.gif');
    background-size: contain;
}

h3{
    padding: 10px;
}

#blackjack-result{
    font-family: 'Times New Roman';
    color: white;
}

.main-container{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-blackjack-row-1,.flex-blackjack-row-2{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-3{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1,.flex-blackjack-row-2{
    background-image: url('./images/blackjack-background.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Times New Roman';
}

.flex-blackjack-row-1 div{
    border: 1px solid black;
    padding: 10px;
    height: 350px;
    text-align: center;
    flex: 1;
}

.flex-blackjack-row-1 img{
    width: 22%;
    padding: 5px;
}

.flex-blackjack-row-2 div{
 border: 1px solid black;
 padding: 10px;
}

table{
    border: 2px solid rgb(184, 97, 228);
    color: rgb(184, 97, 228);
}

th,td{
    padding: 6px;
    font-family: 'Times New Roman';
    font-size: 18px;
}